body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/73e3e4e2161bef832c15feace46c9bf2331bd996fc578ef78604fbb928d7cc6d?placeholderIfAbsent=true&apiKey=7aefd214296441c28ddce98b0512bc42');
    background-size: cover;
    background-position: center;
}

/* Navbar Styles */
.navbaraccount {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);

    /* z-index: 1000; */
}

.logo-account {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
}

.navLink-account {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.navLink-account li {
    display: inline-block;
}

.navLinks-account li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navLink-account li a:hover,
.navLink-account li a:active {
    color: #ffcc00;
}

.navItem a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

/* .navItem a:active {
    color: #f39c12;
  }
  
  .navItem a:hover {
    color: #ffcc00;
  } */

/* .navLinks-table li a:hover,
  .navLinks-table li a:active {
    color: #ffcc00;
     เปลี่ยนสีเมื่อ hover หรือ active */


.account-tag {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.account-tag:hover {
    background-color: #D0671B;
}


.box-show{
    background-color: black;
    border: 2px solid red;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
h2{
    text-align: start;
    font-size: 1.8em;
}
.form-box{
    background-color:red;
    margin-top: 10px;
    font-size: 1.2em;
}
.button-history{
    background-color: #ff7b1c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    cursor: pointer;

    margin-top: 40px;
}


