/* Header Styles */

.header-chef {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
    margin-bottom: 0; */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  
  .navbar-chef {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .logo-chef {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
  }
  
  .navLinks-chef {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0 auto;
  }
  .navLinks-chef li {
    display: inline-block;
  }
  
  .navLinks-chef li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  
  }
  .navItem li a:active {
    color: #f39c12;
  }
  .navLinks-chef li a:hover,
  .navLinks-chef li a:active {
    color: #ffcc00;
  }
  
  .chef-tag {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  .chef-tag:hover {
    background-color: #D0671B;
  }
  
  /* Highlighted Name Section */
  .highlighted-name {
    font-size: 20px;
    color: #ffa500;
    margin-left: auto;
    padding: 10px;
  }
  
  /* Chef Page Styles */
  .chefPage-chef {
    padding: 0;
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/73e3e4e2161bef832c15feace46c9bf2331bd996fc578ef78604fbb928d7cc6d?placeholderIfAbsent=true&apiKey=7aefd214296441c28ddce98b0512bc42');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
  }
  
  /* Chef Grid Layout */
  .chefGrid-chef {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1000px;
    padding-top: 0;
    justify-content: center;
    margin-top: 0; /* เอาช่องว่างด้านบนออกให้หมด */
    position: relative; 
    top: 110px; /* ขยับขึ้นไปให้ใกล้กับเมนูบาร์ แต่ไม่ติด */
    
  }
  
  /* Chef Card Styles */
  .chefCard-chef {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    margin-top: 0;
    /* border: 1px solid red; */
    transition: transform 0.3s ease;
  }
  
  .chefCard-chef:hover{
    transform: scale(1.05);
  }
  .chefImage-chef {
    width: 100%;
    height: auto;
    border-radius: 0;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .chefDescription-chef {
    font-size: 16px;
    color: #333;
    padding: 10px;
  }
  