body {
    margin: 0;
    padding: 0;
    background-color: #333;
    /* พื้นหลังสีเทา */
}

.detail-container {
    /* font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; */
    padding: 0;
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/73e3e4e2161bef832c15feace46c9bf2331bd996fc578ef78604fbb928d7cc6d?placeholderIfAbsent=true&apiKey=7aefd214296441c28ddce98b0512bc42');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.detail-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo-detail {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
}

.navlink-detail {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.navlink-detail li {
    display: inline-block;
}

.navlink-detail li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

}

.navlink-detail li a:hover,
.navlink-detail li a:active {
    color: #ffcc00;
}

.detail-tag {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}
/* .detail-table{
    padding: 10px;
    margin-top: 140px;
    border: 2px solid red;
} */
.detail-title {
    color: white;

    margin-top: 140px;
    font-size: 30px;
    font-weight: bold;
}

.detail-table {
    font-size: 20px;
    width: 80%;

    margin-top: 20px;
    border-collapse: collapse;
    color: white;
}

.detail-table th, .detail-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.detail-table th {
    background-color: #444;
}

.detail-table td {
    background-color: #333;
}

.cancel-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: darkred;
}

.home-button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;

}

.home-button:hover {
    background-color: #ff4500;
}
