/* firstpage.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;

    background-image: "url('https://cdn.builder.io/api/v1/image/assets/TEMP/73e3e4e2161bef832c15feace46c9bf2331bd996fc578ef78604fbb928d7cc6d?placeholderIfAbsent=true&apiKey=7aefd214296441c28ddce98b0512bc42')";
    background-size: 'cover';
    background-position: 'center';

}

/* Header Styles */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Navigation Bar */
.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.logoColumn .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.nav-logo {
    font-size: 1.8rem;
    color: #ffcc00;
    font-weight: bold;
  }
.navColumn .nav {
    display: flex;
    list-style: none;
}
.nav li a:hover {
    color: #ffcc00;
  }
.navItem a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navItem a:hover {
    color: #f39c12;
}

/* Login Section */
.loginSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
}

.loginBox {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50px;
    border-radius: 20px;
    width: 450px;
    height: 400px;
    text-align: center;
}

.loginTitle {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    text-indent: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.loginButton,
.registerButton {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f39c12;
    color: white;
    transition: background-color 0.3s ease;
}

.loginButton:hover,
.registerButton:hover {
    background-color: #d35400;
}