body {
  margin: 0;
  padding: 0;
  background-color: #333;
  /* พื้นหลังสีเทา */
}

.menu-container {
  font-family: Arial, sans-serif;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

/* .menu-header {
  display: flex; /* ใช้ Flexbox เพื่อจัดวางในแนวนอน */
/* justify-content: space-between; /* กระจายเนื้อหาตามความกว้าง */
/* align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
/*  position: fixed;
  top: 0; ชิดขอบบน */
/* right: 0;
  background-color: #000;
  width: 100%;
  padding: 10px 20px; /* เพิ่ม padding เพื่อให้สวยงาม */
/*  z-index: 1000;
} */

.menu-header h1 {
  margin: 0;
  font-size: 48px;
}

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.logo-menu{
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
}

.navlink-menu{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.navlink-menu li{
  display: inline-block;
}
.navlink-menu li a{ 
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* .menu-nav a {
  margin-right: 40px;
  color: #ddd;
  text-decoration: none;
  font-size: 25px;
  gap: 45px;
} */

/* .navlink-menu .active {
  color: #f90;
} */

.navlink-menu li a:hover,.navlink-menu li a:active {
  color: #ffcc00;
}
.menu-tag{
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
.menu-tag:hover {
  background-color: #D0671B;
}
/* .navItem a:hover{
  color: #ffcc00;
} */
/* .menu-tag li a:hover{
  border: 0.5px solid #ffcc00;
  background-color: white;
  color: black;
} */

/* button:hover{
  border: 0.5px solid #ffcc00;
  background-color: white;
  color: black;
} */
/* .user-profile {
  background-color: #f90;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
} */

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* จัดเรียงให้มีระยะห่างระหว่างกัน */
  margin-top: 200px;
  /* max-width: 1000px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 60px;
 
}


.menu-item {
  background-color: #444;
  border-radius: 10px;
  margin: 30px;
  /* เพิ่ม margin เพื่อให้มีช่องว่างระหว่างแต่ละรายการ */
  padding: 30px;
  /* เพิ่ม padding เพื่อขยายขนาดของแต่ละรายการ */
  width: 300px;
  /* กำหนดความกว้างของรายการ */
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  /* เพิ่มเอฟเฟกต์เมื่อ hover */


}

.menu-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-item p {
  margin: 10px 0;
  font-size: 16px;
  color: #fff;
}

.menu-item span {
  color: #f90;
  font-size: 18px;
  font-weight: bold;
}