body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/73e3e4e2161bef832c15feace46c9bf2331bd996fc578ef78604fbb928d7cc6d?placeholderIfAbsent=true&apiKey=7aefd214296441c28ddce98b0512bc42');
    background-size: cover;
    background-position: center;
    /* box-sizing: border-box; */

    /* line-height: 1.6; */
    /* height: 100vh; */
}

.regi-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

/* .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
} */

.logo-regi {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
}

.navbar-regi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navlink-regi{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.navlink-regi li {
    display: inline-block;
}

.navlink-regi li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.navlink-regi li a:hover,
.navlink-regi li a:active{
    color: #ffcc00;
}

.navItem li a:active {
    color: #f39c12;
  }
/* .nav li a:hover {
    color: #ffcc00;
}

.navItem a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navItem a:hover {
    color: #f39c12;
} */


.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.register-form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 450px;
    height: 470px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.register-form h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 28px;
}

.register-form input {
    width: 100%;

    padding: 10px;
    margin: 10px 0;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.register-form input[type="text"],
.register-form input[type="tel"] {
    background-color: #f1f1f1;
}

.register-form button {
    background-color: #ff7f1d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
}

.register-form button:hover {
    background-color: #e86900;
}