body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}

.table-booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/73e3e4e2161bef832c15feace46c9bf2331bd996fc578ef78604fbb928d7cc6d?placeholderIfAbsent=true&apiKey=7aefd214296441c28ddce98b0512bc42');
    background-size: cover;
    background-position: center;
}


.table-booking-form {
    background-color: black;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.table-booking-form h2 {
    color: white;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
}

.form-group input[type="text"],
.form-group input[type="tel"] {
    background-color: #333;
    color: white;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    background-color: #444;
    color: white;
}

.submit-btn {
    background-color: #ff7b1c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #ff9633;
}

input:disabled {
    background-color: #222;
}
